PORT=
MONGODB_USER=epolyk1970_db_user
MONGODB_PASSWORD=your_api_secret
MONGODB_URL=cluster0.zc4dcvl.mongodb.net
MONGODB_DB=contacts
JWT_SECRET=#JWT secret
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=989031001@smtp-brevo.com
SMTP_PASSWORD=your_smtp_key_here
SMTP_FROM=epolyk1970@gmail.com
APP_DOMAIN=http://localhost:3000/auth
CLOUD_NAME=dgvechoy6
API_KEY=your_api_key
API_SECRET=your_api_secret